@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
}
html,.a {
    background-color: #333;
}
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    }
.carousel-control-prev-icon {
    background-color: #000;
    border-radius: 50%;
    
}
img.card-title {
    color:#fff;
    width: 30px;
    height: 30px;
}
.space {
    height: 80px;
}
.card-center {
    margin: 0 auto;
    transition: .5s all ease;
}
.card-center:hover {
    transform: scale(1.1);
}
.icon {
    width: 40px;
    height: 40px;
    margin:0 auto;
}
.show {
    transition: .5s all ease;
}

