@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */


@media (max-width: 720px) {
    .gd {
        display: none;
    }
    .gd img {
        display: none;
    }
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
  }













* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 500vh;
    position: absolute;
    top:0;
    left:0;
    background: rgb(49, 20, 235);
    display: flex;
    justify-content: center;
}

.gd {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.gd img {
    width: 90%;
}
.top {
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color:#fff;
    font-size: 27px;
    top: 90%;
    left: 95%;
    background-color: rgb(53, 175, 53);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 9999999;
}
header {
    transition: all ease .6s;
    width: 100%;
    height: 150px;
    background-size: 170px;
    background-image: url(./img/main-bg.jpg);
    background-repeat: repeat-x;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}
span {
    color: rgb(183, 250, 200);
}
.logo img {
    width: 130px;
}
header .menu ul {
    list-style: none;
}
li {
    color: #fff;
    font-weight: 400;
    font-family: 'Press Start 2P', cursive;
    cursor:pointer;
    margin-bottom: 5px;
}
li:hover {
    color:#f00;
    transform: translateX(-10px);
   
}
/* SECTION */
.main-h1 {
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
    color: aliceblue;
}
section {
    position: absolute;
    top: 170px;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
}
.card {
    width: 100%;
    background-color: rgb(91, 73, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    font-family: 'Press Start 2P', cursive;
    color:#fff;
    border-radius: 15px;
    box-shadow: 0 5px 35px #000;
    margin-bottom: 20px;
}
.card-img {
    width: 100%;
}
.card-img img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.controls {
    height: 40px;
    width: 100%;
    
    margin-bottom: 20px;  
}
p {
    
    margin-bottom: 20px;  
}
a {
    text-decoration: none;
}
a:hover {
    color: #f00;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(10, 105, 117); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(37, 9, 158); /* Add a dark-grey background on hover */
}
.download {
    cursor: pointer;
    position: absolute;
    top: 350px;
    width: 300px;
    height: 40px;
    border:none;
    border-radius: 5px;
    background-color: rgb(38, 0, 255);
    color: #fff;
}
.download:hover {
    background-color: rgb(255, 255, 255);
    
    color: rgb(38, 0, 255);
    box-shadow: 0 0 35px #fff;
}
.bruh {
    position: absolute;
    top: 170px;
}
.captcha {
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}
.p {
    margin: 0;
    position: relative;
    color: #fff;
    font-family: 'Press Start 2P',cursive;
    font-weight: 400;
    font-size: 40px;
}
.hold {
    position: absolute;
    top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
input {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 0;
    position: relative;
    color: #000;
    font-family: 'Press Start 2P',cursive;
    font-weight: 400;
    font-size: 40px;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 150px;
    border-radius: 10px;

}